body {
  background-color: pink;
  
}


h1 { color: black;

}

.grid-container {
  display: grid; 
  grid-template-columns: auto auto;
  height: 600px;
}

.grid-item {
  border: 1px solid;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}


input {
  height: 25px;
}

#main-form {
  padding: 15px; 
  font-family: 'Cinzel', serif;
}

 .preview h1{
  padding: 15px
}

.buttons button {
  font-size: 18px;
}

.preview p {
  padding: 15px;
  text-align: center;
  
}
.preview {
  max-width: 635px;
  font-family: 'Dancing Script', cursive;
}



#default {
  background-image: url(https://previews.123rf.com/images/ekina/ekina1711/ekina171102314/89136313-texture-background-pattern-the-curbstone-is-red-granite-array.jpg); 
  background-repeat: no-repeat;
}

#spring {
  background-image: url(https://i.ytimg.com/vi/6Ir9FSUsaLA/maxresdefault.jpg); 
  background-repeat: no-repeat;
}

#summer {
  background-image:url(https://assets.vogue.com/photos/58ffac51a93d5d1f4489f8ec/master/pass/00-tout-aspen-summer-off-season-guide.jpg);
  background-repeat: no-repeat;
}


#autumn { background-image: url(https://www.nationaltrust.org.uk/images/1431747874883-gothic-cottage-in-autumn.jpg);
  background-repeat: no-repeat;
}

#winter {
  background-image: url(https://www.almanac.com/sites/default/files/styles/primary_image_in_article/public/image_nodes/winter-solstice.jpg?itok=atRtGo8f);
  background-repeat: no-repeat;
  
}


